---
---

////////////////////////////////////////////////////////////////////////////////
// Variables ///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// Colors

$primary-color: #007DBF;
$secondary-color: #525252;
$tertiary-color: #FFFFFF;
$other-color-1: #595959;
$other-color-2: #E7E7E7;
$other-color-3: #000000;


// Font

$base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


// Sizes

$body-padding: 25px;
$footer-height: 60px;
$footer-border: 1px;
$header-height: 60px;


////////////////////////////////////////////////////////////////////////////////
// Imports /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@import "base";
@import "footer";
@import "header";
@import "main";
@import "not-found";
