<title>{% unless page.title contains "." %}{{ page.title }}{% else %}{% t {{ page.title }} %}{% endunless %} • {% t common.name %}</title>
<meta name="author" content="{% t common.name %}">
<meta charset="UTF-8">
<meta property="og:type" content="article">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/kode.png">
<meta name="theme-color" content="#525252">
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="/css/stylesheet.css" type="text/css" />
<meta http-equiv="Content-Language" content="{{ site.lang }}">
{% for language in site.languages %}
<link rel="alternate" i18n="{{ language }}" href="{% if language == site.default_lang %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}/{{ language }}{{ page.url }}{% endif %}" />
{% endfor %}
