<title>{% unless page.title contains "." %}{{ page.title }}{% else %}{% t {{ page.title }} %}{% endunless %} • {% t common.name %}</title>
<meta name="author" content="{% t common.name %}">
<meta charset="UTF-8">
<meta property="og:type" content="article">
<!-- {% if page.layout == "post" %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_newlines }}">
<meta property="og:image" content="{{ site.url }}/images/{{ page.image_name }}">
{% else %} -->
<!-- <meta property="og:title" content="{% t common.name %}">
<meta property="og:image" content="{{ site.url }}/favicons/open-graph.png">
{% endif %} -->
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/kode.png">
<!-- <link rel="manifest" href="/favicons/manifest.json">
<link rel="yandex-tableau-widget" href="/favicons/yandex-browser-manifest.json" />
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#525252">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#525252">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml"> -->
<meta name="theme-color" content="#525252">
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="/css/stylesheet.css" type="text/css" />
<meta http-equiv="Content-Language" content="{{ site.lang }}">
{% for language in site.languages %}
<link rel="alternate" i18n="{{ language }}" href="{% if language == site.default_lang %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}/{{ language }}{{ page.url }}{% endif %}" />
{% endfor %}
