<header>
  {% include logo.html %}
  <nav id="mainNav">
    <a href="{{ '/' | prepend: site.baseurl }}" class="{% if page.permalink == '/' %}active{% endif %}">
      /
    </a>
    <a href="{{ '/projects' | prepend: site.baseurl }}" class="{% if page.permalink == '/projects/' %}active{% endif %}">
      {% t pages.projects %}
    </a>
    <a href="javascript:void(0);" onclick="toggleNavMenu()" class="expand-menu-icon">&#9776;</a>
  </nav>
</header>


<script>
  function toggleNavMenu() {
    var x = document.getElementById("mainNav");
    if (x.className === "responsive-visible") {
      x.className = "";
    } else {
      x.className = "responsive-visible";
    }
  }
</script>
